.interface-field {
    border-bottom: solid 1px rgba(127, 127, 127, 0.2);
    padding: 20px 0;
}

.interface-field:first-of-type {
    padding-top: 0 !important;
}

.interface-field:last-of-type {
    border-bottom: none !important;
}

.interface-field-title {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.interface-field-title .optional,
.interface-field-title .required {
    margin-left: 10px;
    font-size: 0.8em;
    opacity: 0.75;
    color: #666;
}

.interface-field-title .required {
    color: #ff0017;
}

.interface-field-description p {
    padding: 0;
    margin: 0;
}
